# Formas de Conexão

# Conexão com Windows Authentication
# CONNECTION_STRING=Server=NOME_DO_SERVIDOR;Database=NOME_DO_BANCO;Trusted_Connection=True;TrustServerCertificate=True

# Conexão com SQL Server Authentication
# CONNECTION_STRING=Server=NOME_DO_SERVIDOR;Database=NOME_DO_BANCO;User Id=SEU_USUARIO;Password=SUA_SENHA;TrustServerCertificate=True