# Formas de Conexão

# Conexão com Windows Authentication
# CONNECTION_STRING=Server=NOME_DO_SERVIDOR;Database=NOME_DO_BANCO;Trusted_Connection=True;TrustServerCertificate=True

# Conexão com SQL Server Authentication
# CONNECTION_STRING=Server=NOME_DO_SERVIDOR;Database=NOME_DO_BANCO;User Id=SEU_USUARIO;Password=SUA_SENHA;TrustServerCertificate=True

# JWT_KEY deve conter exatamente 32 caracteres para garantir a segurança adequada. Certifique-se de usar uma chave forte e única para proteger seus tokens JWT.
# JWT_KEY=sua_chave_jwt